body {
    transition: .5s ease-in-out;
}

body.listen-clicked {
    background-color: #000 !important;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 0vw;
    height: 100dvh;

    flex-grow: 1;
    transition: 3s ease-in;
}

body.listen-clicked .container {
    gap: 100vw;
    flex-grow: 0;
    scale: 10;
}

.frame-container {
    width: 60vw;
    position: relative;
}

.area-container {
    width: 40vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    align-items: center
}

iframe {
    border: none;
    border-radius: var(--br-radius);
    background-color: #fff;
    
    margin: auto;

    aspect-ratio: 16/9;
    height: 40dvh;

    box-shadow: 0 0 0 4px #ffffff32;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.areawrap textarea {
    resize: none;
    border: none;
    outline: none;
    border-radius: var(--br-radius);
    background-color: #32373b;
    color: oklch(from var(--main-color) calc(l + .25) c h);
    padding: var(--gap);
    line-height: 1.4rem;

    height: 30dvh;
    width: 30vw;

    padding: 1rem;
    padding-top: 3rem;
    
    box-shadow: inset 0 0 0 0px var(--main-color), 0 0 0 0px oklch(from var(--main-color) l c h / .33);

    transition: box-shadow .2s ease-in-out;
}

.areawrap {
    position: relative;
}

.areawrap ::selection,
.areawrap ::-webkit-selection,
.areawrap ::-moz-selection {
    background-color: oklch(from var(--main-color) l c h / .5);
}

.areawrap::after {
    content: attr(data-type);
    position: absolute;
    top: 0;
    left: 0;
    margin: .75rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #32373b;
    padding: .25rem;
    border-radius: .5rem;

    z-index: 10;
    pointer-events: none;
}

.areawrap textarea:focus {
    box-shadow: inset 0 0 0 4px var(--main-color), 0 0 0 4px oklch(from var(--main-color) l c h / .33);
}

.areawrap:has(#area-css) {--main-color: oklch(55.603% 0.21971 263.407);}
.areawrap:has(#area-html) {--main-color: oklch(66.76% 0.22194 34.491);}
.areawrap:has(#area-js) {--main-color: lch(80.86% 80.77 88.63);}

.areawrap textarea::selection { background-color: oklch(from var(--main-color) l c h / .5); color: #fff; }